<!DOCTYPE HTML>
<html lang="zh-CN" ng-app="myapp">
<head>
  <meta charset="UTF-8">
  <title>{% block title%}{{title}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <script src="lib/requirejs/require.js" data-main="js/main"></script>
  {% block insertScript %}{% endblock %}
</head>
<body>
  <div ng-controller="testCtrol">
    <span>[[test]]</span>
  </div>
  <script>
  </script> 
</body>
</html>
